# -------------------------
# Python
# -------------------------
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# -------------------------
# Environment variables (🔥 CRITICAL)
# -------------------------
.env
.env.*
backend/.env
frontend/.env

# -------------------------
# Secrets / Keys (extra safety)
# -------------------------
*.pem
*.key

# -------------------------
# Node
# -------------------------
node_modules/
frontend/node_modules/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db
backend/mydatabase.db

.vercel
